asgiref==3.3.0
boto3==1.16.10
botocore==1.19.10
Django==3.1.3
django-braces==1.14.0
django-crispy-forms==1.9.2
django-model-utils==4.0.0
django-star-ratings==0.9.1
djangorestframework==3.12.1
jmespath==0.10.0
pony==0.7.13
python-dateutil==2.8.1
pytz==2020.4
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
store==2020.2.10
swapper==1.1.2.post1
urllib3==1.25.11
