{% extends "store/base.html" %}
{% block content %}
    <div class="list_container">
        {% for order in fav_orders %}
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/130px-Heart_coraz%C3%B3n.svg.png" class="card-img-top" alt="new">

                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'order' id=order.id %}">{{ order.title }}</a><br></h5>
                    <p class="card-text">{{ order.description|slice:":100" }}</p>
                </div>
            </div>

        {% empty %}
            <h2>No favourite orders</h2>
        {% endfor %}
    </div>
{% endblock %}