{% extends "store/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend>Reset Password</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Reset password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}